@media only screen and (MAX-width: 600px) {

 }
 body{
    background-image: url(háttérkép.jpg);
    background-size: 100%;
    background-color: antiquewhite;
    max-width: 900px;
    text-align: center;
    background-repeat: no-repeat;
    font-style: Arial;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: black;
 }
 h1{
    font-style: Arial;
    text-align: center;
 }
 header>img{
    width: 30%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
 }